# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.env
.env.*
.venv/
venv/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# JavaScript
node_modules/

# Data caches
data/raw/*
!data/raw/.gitkeep
